<a href="https://colab.research.google.com/github/fuserkuba/OrderTaking/blob/master/training/TakeOrderTraining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import requests


filename = "https://raw.githubusercontent.com/fuserkuba/OrderTaking/master/training/orders.csv?token=AC524KMGKU3WLO6TJLFTXVC7RMFEK"

df = pd.read_csv(filename)

df.head()

   order_id   store_id  ...            created_at  taken
0  14364873   30000009  ...  2017-09-07T20:02:17Z      0
1  14370123   30000058  ...  2017-09-07T20:13:16Z      0
2  14368534  900003684  ...  2017-09-07T20:07:23Z      0
3  14370258  900014452  ...  2017-09-07T20:15:19Z      1
4  14369923  900014085  ...  2017-09-07T20:12:14Z      1

[5 rows x 7 columns]